body{
    font-family: 'Montserrat', sans-serif;
    background-color: #fcf8f7;
}

.indexBackground {
background: url("../mapBackground.jpg");
background-color: rgb(255, 245, 244);
}

img, table, td, blockquote, code, pre, textarea, input, iframe,
object, embed, video {
    max-width: 100%;
}

#imgHead{
    height: 319px;
}

.ulBtnAction {
    background-color: white;
}

#offerForm {
    margin-top: 2rem;
    margin-bottom: 8rem;
}

#presentationText {
    line-height: 2.3rem;
    margin-bottom: 1rem;
    text-align: justify;
}

#labelAddressModif{
    margin-top: -10px;
}

blockquote {
    border-left: 5px solid #5f6a75;
}


/* bouton dans la navbar */
#btnNameNavbar{
    font-size: .6rem;
    background-image: linear-gradient(45deg, rgb(255, 154, 158) 0%, rgb(250, 208, 196) 99%, rgb(250, 208, 196) 100%);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px; 
}
#btnNameNavbar2{
    font-size: .6rem;
    background-image: linear-gradient(45deg, rgb(255, 154, 158) 0%, rgb(250, 208, 196) 99%, rgb(250, 208, 196) 100%);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px; 
}

.spinner {
    text-decoration: underline overline rgb(245, 175, 173);
}

.souligner {
    text-decoration: underline overline #FFFF00;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.souligner2 {
    text-decoration: underline #FFFF00;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.soulignerSansJaune {
    margin-top: -2rem;
    font-size: 1.2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}



#certifiedListeUsers{
    background-image: unset;
}


#cardList{
    margin-left: 50px;
}
.card-content p{
    font-weight: 600;
    font-size: 1em;
    word-spacing: 0.1em;
    letter-spacing:0.1em;
}


/*.whiteSapce50{
    height: 50px;
}
*/.whiteSapce100{
    height: 100px;
}
/*
*/
.whiteSapce130{
    height: 130px;
}

#selectDepartName{
    padding: 5rem;
}
radio{
    background-color: corail;
}

h1{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 2em;
}
h2{
    font-size: 1.3em;
}
h2.h2account{
    font-size: 1.5em;
}

#accountContainer{
    padding: 50px;
}
.modal h1 {
    font-size: 1.3em;
    color: rgb(131, 130, 130);
}
#projetH1{
    font-size: 1.3em;
    margin-left: 15px;
}
.projetText {
    text-align: justify;
    line-height: 1.8em;
    padding-bottom: 1rem;
}

#registrationBtn{
    font-size: 0.8em;
    margin-bottom: 1.3rem;
}
#accountBtn{
    font-size: 0.8em;
}

#presentationText{
    font-size: 1em;
    font-weight: 200;
    text-align: center;
    color: coral;
}

/*nav {
    background: -webkit-linear-gradient(-1deg, rgb(221, 214, 211), rgb(174, 174, 174));
    background: linear-gradient(-1deg, rgb(221, 214, 211), rgb(174, 174, 174));
    background: -webkit-linear-gradient(-1deg, rgb(221, 214, 211), rgb(174, 174, 174));
    }
*/
nav {
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

#divContactInfos { 
    padding-left: 8rem;
    padding-right: 8rem;
}

/* inline_style_edits.inline.css */
/* inline_style_edits.inline.css */


#navLogo{
    margin-left: 25px;
    margin-top: -4px;
    height: 77px;
    width: 190px;
  
}
#logoHead {
    width: 15%;
}

#miniLogo{
    height: 25px;
    width: 35px;
}

#orangeSpace{
    margin-bottom: 0;
}



[class="col s12 m12 center-align blue-grey-text text-blue-grey darken-3"] p {
    line-height: 2em;
    font-size: larger;
}


.breadcrumb:hover {
    color: white;
    text-decoration: underline overline;
}

/* Bouton profil btnProfil.php*/

[data-target] {
    width: 100px;
}


.dropdown-content li a{
    font-size: 0.7em;
}


*[data-tooltip] {
    position: relative;
}

*[data-tooltip]::after {
    content: attr(data-tooltip);
    
    position: absolute;
    top: 10px;
    right: -20px;
    width: 150px;
    
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    
    display: block;
    font-size: 0.8em;
    line-height: 16px;
    background: #607D8A;
    margin-right: 50px;
    padding: 2px 2px;
    border: 1px solid #fff1e0;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
    color: #fff1e0;
}

*[data-tooltip]:hover::after {
    opacity: 1;
}

button{
    padding: 0px;
}
/* inline_style_edits.inline.css */

#accountImg{
    max-width: 15em;
    margin-left: 150px;
}


/* inline_style_edits.inline.css Problème du bouton droit dans le modal du formulaire "s'identifier'"*/

[cz-shortcut-listen] .input-field button:nth-of-type(2) {
    padding: 0px;
}


#address {
    width: 450px;
}
/*
Zone css formulaire
*/
/*
modal1
*/

/* style.css */

#modal1 {
    height: 1500px;
}

/* inline_style_edits.inline.css */

[cz-shortcut-listen] [tabindex] .modal-content {
    padding-bottom: 0px;
}
/* inline_style_edits.inline.css */

#submitFormValidBtn {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #btnListe-trajetsBis {
      margin: 3rem;
  }

#backgroundColorListTrajets {
    background-color: #FFF;
    border-top: .3rem solid rgb(136, 136, 133);
}


#form2 {
    margin-top: -33px;
}

.paddingListeTrajets {
    padding-left: 3rem;
}

#baselineContact {
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}

#successCardTrajetForm {
    width: 50%;
    background-color: white;
    padding-bottom: 3rem;
    margin-left: 25%;
    margin-top: 5rem;
}

.NotValid {
    color: coral;
    font-size: 0.8rem;
}

#pModalForm{
    font-size: 0.8em;
}
/* materialize.min.css */

#closeModal {
    color: #8e919c;
}


/*
Zone css formulaire

*/

.articleTrajetForm {
    margin: unset;
    margin-top: 8rem;
    padding-bottom: 3rem;
    background-color: white;
    border-top: .3rem rgb(172, 172, 187) solid;
    font-size: 1rem;
}

.rightBorder {
    background-color: white;
    border-right: .1rem rgb(172, 172, 187) solid;
    box-shadow: 3px 0px 0px rgba(22, 22, 22, 0.568);
    font-size: 1rem;  
}

.forecast {
    margin-bottom: 4rem;
    margin-right: 3rem;
    margin-top: 1rem;
    background-color: white;
    border-top: .3rem rgb(172, 172, 187) solid;
    font-size: 1rem;
}

.forecastBis {
    margin-bottom: 4rem;
    margin-right: 3rem;
    margin-top: 10rem;
}

.forecast2 { /* Dans user-info en responsive*/
    margin: 3rem;
    background-color: white;
    border-top: .3rem rgb(172, 172, 187) solid;
    font-size: 1rem;
    line-height: 3.5em;
}

.forecast3 { /* Dans user-info en responsive*/
    margin: 3rem;
    background-color: rgb(250, 250, 250);
    font-size: 1rem;
    line-height: 3.5em;
}


mark {
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 1.3rem;
    font-size: 1rem;
}
 .rotate {
    transform: rotate(-4deg);
 }

h4 {
    padding: 3rem;
    font-size: 1.3rem;
    font-weight: lighter;
    
}

/* inline_style_edits.inline.css */

#contactInfosCard {
    margin: 100px 250px;
    background-color: rgb(255, 251, 251); 
    display: inline-block;
    box-shadow: 2px 2px 2px grey;
    border-width: .5rem;
    border-style: solid;
    border-image: linear-gradient(#f78ca0 , #f7cb51) 30;
  }

#btnHrefUserInfos {  
    border-radius: 3rem;
    border: .2rem grey solid;   
    padding: .5rem 1rem 0.5rem 1rem;
    box-shadow: .5px 1px 3px rgb(90, 90, 85);
}

#btnHrefUserInfos2 {
    border-radius: .3rem;
    border-top: .2rem rgb(71, 92, 102) double;   
    border-bottom: .2rem rgb(71, 92, 102) double;   
    padding: .5rem 1rem 0.5rem 1rem;
    font-size: 0.8rem;
}

#cardRadiusUserInfos {
    border: .2rem #FF8A80 solid;
    background-color: antiquewhite;
}

th {
    color: rgb(71, 92, 102);
  
}

/* carte de gauche sur l'index car image de plus petite taille */
.dayforecast .m6:nth-of-type(1) .waves-light {
    padding-bottom: 2rem;
}

.dayforecast {
    margin: 3rem;
    padding: 1rem;
    background-color: white;
}

.errorMessageUserLogin {
    margin-bottom: 3rem;
}

#paddingBtnCard {
    margin-top: 2rem;
}

.formTitle {
    margin: 0;
}

#paddingBtnAddOnUserInfosBis{
    padding-bottom: 3rem;
}

.formTitle2 {
    margin: 2rem;
}
/* style.css */

.colorLink {
    color: #bbb;
}
.dotdot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 2px 2px 2px grey;
    margin-bottom: 0px;
  }
  .dotdotdot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 2px 2px 2px grey;
    margin-bottom:-1.5rem;
  }

  .dotdot2 {
    height: 12px;
    width: 12px;
    background-color: rgb(187, 187, 187);
    box-shadow: 2px 2px 2px grey;
    display: inline-block;
    margin-bottom: -1.5rem;
    -ms-transform: rotate(45deg); /* Internet Explorer */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari et Chrome */
    -o-transform: rotate(45deg); /* Opera */
  }

#btnDeleteTrajet {
    margin: 0;
    color: white;
}

#imgDate {
    max-width: 30rem;
    max-height: 30rem;
}
#submitFormTrajetBtn {
    margin: 3rem;
}

.highlight :hover{
    background-color:#FCF8F7;
}

#imgDepart {
    max-width: 23rem;
    max-height: 30rem;
}

/* infos-usersBis img */

.card.horizontal .card-image {
    height: 30%;
  }


/* padding sur la page trajetForm au niveau des services */

.hide-on-small-only .left-align {
    padding: 5rem;
    padding-bottom: inherit;
  }


/* btn rond pour les btn des liste */

.btn-floating.btn-small {
    margin-left: .3rem;
  }
  
  .btn-small i {
    font-size: 1rem;
    margin-left: 1re;
  }


/* materialize.css */

/* * Comme la dite marge est exprimée en pourcentage,
* on l'augmente sur les devices moins larges.
*/
@media only screen and (min-width: 993px){
    .container {
        width: 85%;
        
    }
}

/* materialize.min.css */

@media only screen and (max-width: 992px) {
    table.responsive-table thead {
      margin-left: -2rem;
    }
  }

    hr {
        border: none;
       width: 16rem; 
       height: .3rem;
       margin-top: 1rem;
       margin-bottom: 1rem;
       background-color: rgb(189, 189, 188);  
    }
/* Modif de la page liste-trajetsBis en responsive */
    @media only screen and (max-width: 992px) {
        table.responsive-table thead {
          margin-left: 0rem;
        }
      }