#imgHead{
	height: 419px;
}
.image-full {
    background: url("../chat.png") no-repeat;
    background-size: cover;
    background-position: center center;
}
#projetFrame{
	padding: 80px;
	height: 800px;
}

radio{
    background-color: corail;
}

h1{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 2em;
}
h2.h2account{
 	font-size: 1.5em;
}
#accountBackground{

background:linear-gradient(4deg, rgba(236, 142, 0, 0), #ffd14f);

}
#accountContainer{
	padding: 50px;
}
.modal h1 {
    font-size: 1.5em;
    color: orange;
}
#projetH1{
	font-size: 1.3em;
}
#registrationBtn{
	font-size: 0.8em;
}
#accountBtn{
	font-size: 0.8em;
}
#logoCard{
    max-width: 250px;
}

#presentationText{
    font-size: 1em;
    font-weight: 200;
	text-align: center;
	max-width: 900px;
	color: coral;
}
#navLogo{
	margin-left: 25px;
	margin-top: 10px;
	height: 40px;
	width: 50px;
}
#logoHead {
    width: 15%;
}
#logoHead2{
    width: 10%;
}

#orangeSpace{
    margin-bottom: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* background: -webkit-linear-gradient(16deg, rgb(254, 100, 100), rgb(255, 243, 44));
    background: linear-gradient(16deg, rgb(254, 100, 100), rgb(255, 243, 44)); */
}

/* * Comme la dite marge est exprimée en pourcentage,
* on l'augmente sur les devices moins larges.
*/
@media only screen and (min-width: 993px){
    .container {
        width: 85%;
    }
}
