#imgHead{
	height: 419px;
}
.image-full {
	background: url("../chat.png") no-repeat;
	background-size: cover;
	background-position: center center;
}
#projetFrame{
	padding: 80px;
	height: 800px;
}
/*a, a:visited {
Les liens "au repos" et déjà visités antérieurement 
color: grey; /* couleur gris 
}
a:hover, a:focus, a:active {
Les liens au survol, au focus, et actifs : on leur donne la couleur corail 
color: #ff8a65;
}*/
#cardList{
	margin-left: 50px;
}
.card-content p{
	font-weight: 600;
	font-size: 1em;
	word-spacing: 0.1em;
	letter-spacing:0.1em;
}
.whiteSapce50{
	height: 50px;
}
.whiteSapce100{
	height: 100px;
}
.whiteSapce130{
	height: 130px;
}
.whiteSapce200{
	height: 200px;
}

.card-image img{
	max-height: 450px;
}
#shopImg{
	width: 76%;
	height: 77%;
	margin-left: 61px;
}
radio{
	background-color: corail;
}

h1{
	text-transform: uppercase;
	font-weight: 100;
	font-size: 2em;
}
h2{
	font-size: 1.3em;
}
h2.h2account{
	font-size: 1.5em;
}
#accountBackground{

	background:linear-gradient(4deg, rgba(236, 142, 0, 0), #ffd14f);

}
#accountContainer{
	padding: 50px;
}
.modal h1 {
	font-size: 1.5em;
	color: orange;
}
#projetH1{
	font-size: 1.3em;
}
#registrationBtn{
	font-size: 0.8em;
}
#accountBtn{
	font-size: 0.8em;
}
#logoCard{
	max-width: 250px;
}
#presentationText{
	font-size: 1em;
	font-weight: 200;
	text-align: center;
	max-width: 900px;
	color: coral;
}
#navLogo{
	margin-left: 25px;
	margin-top: 10px;
	height: 40px;
	width: 50px;
}
#logoHead {
	width: 15%;
}
#logoHead2{
	width: 10%;
}
#miniLogo{
	height: 25px;
	width: 35px;
}

#orangeSpace{
	margin-bottom: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
	/* background: -webkit-linear-gradient(16deg, rgb(254, 100, 100), rgb(255, 243, 44));
	background: linear-gradient(16deg, rgb(254, 100, 100), rgb(255, 243, 44)); */
}


/* * Comme la dite marge est exprimée en pourcentage,
* on l'augmente sur les devices moins larges.
*/
@media only screen and (min-width: 993px){
	.container {
		width: 85%;
	}
}
